# IDE and OS files
.vscode/
.idea/
.DS_Store

# Dependencies
/vendor/
/node_modules/
composer.json
composer.lock


# Environment variables and logs
.env
*.env.*
/logs/
/config/generate_admin.php

# Specific file types
*.log
*.zip
*.htaccess
*.old
*.~

# Specific folders
/storage/
/public/assets/images/*
vendor/
csv_import/
game_data_download/*
db_setup/